<header class="header">
  <div class="header__top">
    <div class="header__top-inner container">
      <a class="header__top-link" href="#">О компании</a>
      <a class="header__top-link" href="#">Партнерам</a>
      <a class="header__top-link" href="#">Где купить</a>
      <a class="header__top-link" href="#">Контакты</a>
      <a class="header__top-link" href="#">Вход</a>
      <a class="header__top-link header__top-link--phone" href="tel:+78005006993">+7 (800) 500-69-93</a>
    </div>
  </div>
  <div class="header__bottom">
    <div class="header__bottom-inner container">
      <a class="logo" href="main.html"><img src="images/logo.png" alt="FORSITE"></a>
      <button class="js-menu-opener menu-opener" type="button" title="Меню"><span></span></button>
      <div class="main-menu-block">
        <ul class="main-menu">
          <li class="main-menu__item root">
            <a class="main-menu__link root-link" href="#">Продукция</a>
            <div class="main-menu__dropdown">
              <div class="main-menu__dropdown-container container">
                <ul class="main-menu__dropdown-list">
                  <li class="main-menu__dropdown-title"><a href="#">Клиентские устройства</a></li>
                  <li><a class="main-menu__dropdown-link" href="#">Моноблоки</a></li>
                  <li><a class="main-menu__dropdown-link" href="#">Рабочие станции</a></li>
                  <li><a class="main-menu__dropdown-link" href="#">Графические станции</a></li>
                </ul>
                <ul class="main-menu__dropdown-list">
                  <li class="main-menu__dropdown-title">Суперкомпьютеры</li>
                  <li><a class="main-menu__dropdown-link" href="#">NVIDIA DGX - Station</a></li>
                  <li><a class="main-menu__dropdown-link" href="#">NVIDIA DGX - 1</a></li>
                  <li><a class="main-menu__dropdown-link" href="#">NVIDIA DGX - 2</a></li>
                  <li><a class="main-menu__dropdown-link" href="#">GPU - Серверы</a></li>
                </ul>
                <ul class="main-menu__dropdown-list">
                  <li class="main-menu__dropdown-title">Компоненты</li>
                  <li><a class="main-menu__dropdown-link" href="#">Профессиональная графика</a></li>
                  <li><a class="main-menu__dropdown-link" href="#">Платы захвата Magewell</a></li>
                  <li><a class="main-menu__dropdown-link" href="#">Конверторы сигнала</a></li>
                </ul>
              </div>
              <div class="main-menu__dropdown-container container">
                <ul class="main-menu__dropdown-list">
                  <li class="main-menu__dropdown-title">Видеостены и AV</li>
                  <li><a class="main-menu__dropdown-link" href="#">Типовые видеостены</a></li>
                  <li><a class="main-menu__dropdown-link" href="#">Видеоконтроллеры</a></li>
                  <li><a class="main-menu__dropdown-link" href="#">Панели для видеостен</a></li>
                  <li><a class="main-menu__dropdown-link" href="#">Крепления для видеостен</a></li>
                  <li><a class="main-menu__dropdown-link" href="#">Программное обеспечение</a></li>
                </ul>
                <ul class="main-menu__dropdown-list">
                  <li class="main-menu__dropdown-title">Серверное оборудование</li>
                  <li><a class="main-menu__dropdown-link" href="#">Серверы</a></li>
                  <li><a class="main-menu__dropdown-link" href="#">Системы хранения</a></li>
                  <li><a class="main-menu__dropdown-link" href="#">Блейд - системы</a></li>
                  <li><a class="main-menu__dropdown-link" href="#">Промышленные ПК</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="main-menu__item root">
            <a class="main-menu__link root-link" href="#">Решения</a>
            <div class="main-menu__dropdown">
              <div class="main-menu__dropdown-container container">
                <ul class="main-menu__dropdown-list">
    							<li><a class="main-menu__dropdown-link" href="#">Видеостены и видеоконтроллеры</a></li>
    							<li><a class="main-menu__dropdown-link" href="#">Графические и расчетные станции</a></li>
    							<li><a class="main-menu__dropdown-link" href="#">Графические решения для VR</a></li>
    							<li><a class="main-menu__dropdown-link" href="#">Высокопроизводительные вычисления</a></li>
    							<li><a class="main-menu__dropdown-link" href="#">Вычислительные кластеры HPC</a></li>
    							<li><a class="main-menu__dropdown-link" href="#">Виртуализация рабочих мест</a></li>
    							<li><a class="main-menu__dropdown-link" href="#">Машинное обучение / Deep Learning</a></li>
    							<li><a class="main-menu__dropdown-link" href="#">NVIDIA DGX-1</a></li>
    							<li><a class="main-menu__dropdown-link" href="#">NVIDIA DGX-1 Station</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="main-menu__item">
            <a class="main-menu__link" href="#">Технологии</a>
          </li>
          <li class="main-menu__item">
            <a class="main-menu__link" href="#">Услуги</a>
          </li>
          <li class="main-menu__item">
            <a class="main-menu__link" href="#">Проекты</a>
          </li>
          <li class="main-menu__item main-menu__item--duplicate">
            <a class="main-menu__link" href="#">О компании</a>
          </li>
          <li class="main-menu__item main-menu__item--duplicate">
            <a class="main-menu__link" href="#">Партнерам</a>
          </li>
          <li class="main-menu__item main-menu__item--duplicate">
            <a class="main-menu__link" href="#">Где купить</a>
          </li>
          <li class="main-menu__item main-menu__item--duplicate">
            <a class="main-menu__link" href="#">Контакты</a>
          </li>
          <li class="main-menu__item main-menu__item--duplicate">
            <a class="main-menu__link" href="#">Вход</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
